* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "aleo", "josephin sans";
}

.top {
  background-image: url(/images/top-image.png);
  background-position: center;
  background-size: cover;
  width: 1770px;
  max-width: 100%;
  height: 820px;
  position: relative;
}
.top .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top .container .head {
  position: absolute;
  bottom: 250px;
}
.top .svg {
  color: white;
}
.top .h1 {
  color: #FFFFFF;
  font-family: "josefin sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  position: relative;
  left: 100px;
}
.top .para {
  color: #FFFFFF;
  font-family: "josefin sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 6.82px;
  margin-bottom: 2rem;
  position: relative;
  left: 100px;
}
.top .form {
  width: 100%;
  width: 650px;
  height: 70px;
  background: white;
  display: flex;
  align-items: center;
}
.top .form input {
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  align-items: center;
}
.top ::-moz-placeholder {
  color: #999999;
}
.top :-ms-input-placeholder {
  color: #999999;
}
.top ::placeholder {
  color: #999999;
}
.top .form button img {
  width: 25px;
}
.top .form button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 0;
  border-radius: 0;
  width: 160px;
  height: 65px;
  cursor: pointer;
  color: white;
  background-color: #5474FD;
  position: relative;
  right: 5px;
}
.top .form .bi.bi-search {
  margin-left: 1em;
}

.navigation {
  width: 100%;
  height: 83px;
  background: #5474FD;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  justify-content: center;
}
.navigation .logo h2 {
  color: #FFFFFF;
  font-family: "josefin sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  display: flex;
  margin-right: 50px;
}
.navigation .list ul {
  font-family: "aleo";
  display: flex;
  position: relative;
  left: 100px;
}
.navigation a {
  color: white;
  text-decoration: none;
}
.navigation li {
  list-style-type: none;
  margin: 10px;
}

.two {
  margin: 0;
  width: 100%;
  max-width: 1770px;
  height: 685px;
  background-image: url(/images/castle.png);
}
.two .wrap {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.two .two-images {
  display: block;
}
.two .lake {
  width: 180px;
  height: 150px;
}
.two .house {
  width: 180px;
  height: 150px;
}
.two .tin {
  width: 360px;
  height: 108px;
}
.two h3 {
  color: #FFFFFF;
  font-family: "aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  align-items: center;
}
.two .para1 {
  width: 300px;
  color: #E8E8E8;
  font-family: "josefin sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: 1.6px;
  margin: 2rem;
}/*# sourceMappingURL=style.css.map */