* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "aleo", "josephin sans";
}

.top {
  background-image: url(/images/top-image.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 820px;
  position: relative;
}
.top .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top .container .head {
  position: absolute;
  bottom: 250px;
}
.top .svg {
  color: white;
}
.top .h1 {
  color: #FFFFFF;
  font-family: "josefin sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.top .para {
  color: #FFFFFF;
  font-family: "josefin sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 6.82px;
  margin-bottom: 2rem;
}
.top .form {
  width: 100%;
  width: 100%;
  height: 70px;
  background: white;
  display: flex;
  align-items: center;
}
.top .form input {
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  align-items: center;
}
.top ::-moz-placeholder {
  color: #999999;
}
.top :-ms-input-placeholder {
  color: #999999;
}
.top ::placeholder {
  color: #999999;
}
.top .form button img {
  width: 25px;
}
.top .form button:hover {
  color: rgb(255, 0, 64);
}
.top .form button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 0;
  border-radius: 0;
  width: 160px;
  height: 65px;
  cursor: pointer;
  color: white;
  background-color: #5474FD;
  position: relative;
  right: 5px;
}
.top .form .bi.bi-search {
  margin-left: 1em;
}

.navigation {
  width: 100%;
  height: 83px;
  background: #5474FD;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  justify-content: center;
}
.navigation .logo h2 {
  color: #FFFFFF;
  font-family: "josefin sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  display: flex;
  margin-right: 20px;
}
.navigation .list ul {
  font-family: "aleo";
  display: flex;
  position: relative;
}
.navigation a:hover {
  color: rgb(165, 32, 125);
}
.navigation a {
  color: white;
  text-decoration: none;
}
.navigation li {
  list-style-type: none;
  margin: 10px;
}

.two {
  margin: 0;
  width: 100%;
  height: 685px;
  font-family: "aleo", "josephin sans";
  height: 685px;
  background-image: url(/images/castle.png);
  position: relative;
}
.two .wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.two .two-images {
  display: block;
  position: relative;
  top: 50px;
}
.two .lake {
  position: relative;
  left: 50px;
  width: 180px;
  height: 150px;
  top: 50px;
}
.two .house {
  width: 180px;
  height: 150px;
}
.two .tin {
  width: 360px;
  height: 0px;
  position: relative;
  top: 80px;
  left: 50px;
}
.two .button1:hover {
  color: grey;
}
.two .button1 {
  width: 200px;
  height: 60px;
  border: 0;
  color: white;
  background-color: #496BFE;
}
.two h3 {
  color: #FFFFFF;
  font-family: "aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  align-items: center;
  position: relative;
  margin-left: 10px;
}
.two .para1 {
  width: 300px;
  color: #E8E8E8;
  font-family: "josefin sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: 1.6px;
  margin: 2rem;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -4px;
}

.basement {
  width: 100%;
  max-width: 1770px;
  height: auto;
}

@media screen and (min-width: 800px) {
  .top .form {
    width: 650px;
  }
  .top .h1, .top .para {
    text-align: center;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .wrap {
    flex-direction: column;
  }
  .wrap .lake {
    position: static;
  }
  .wrap .house {
    position: static;
  }
  .wrap .tin {
    left: -100px;
  }
  .wrap .two-images {
    left: 150px;
  }
}
@media screen and (max-width: 390px) {
  .wrap {
    display: block;
  }
  .wrap .lake {
    position: static;
  }
  .wrap .house {
    position: static;
  }
  .wrap .tin {
    left: -150px;
  }
  .wrap .two-images {
    left: 100px;
  }
  .wrap .h3 {
    text-align: center;
    justify-content: center;
    position: relative;
    left: 30px;
    height: 50px;
  }
  .wrap .tin .button1 {
    position: relative;
    left: 150px;
    top: 150px;
  }
}/*# sourceMappingURL=style.css.map */