* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "aleo", "josephin sans";
}

@import "./top";

.two{
    margin: 0;
     width: 100%;
  
     height: 685px;
    background-image: url(/images/castle.png);
    
    .wrap {
        width: 100%;
        display: flex;
        align-items: center;
       
        justify-content: space-evenly;
       
    }
   
      

    .two-images {
        display: block;
        position: relative;
        top: 50px;
      
    }
       
    
    .lake {
        position: absolute;
        left: 50px;
        width: 180px;
        height:150px ;

      
       
    }
    .house{
        width: 180px;
        height:150px ;
       
      
      
    }
    .tin    {
        width:360px;
        height: 0px;
        position: relative;
        top: 80px;
        left: 50px;


    }
    .button1 {
        width:200px ;
        height: 60px;
        border: 0;
        color: white;
        background-color:#496BFE ;

    }


     h3 { 
      
        color: #FFFFFF;
        font-family: "aleo";
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 26px;
        align-items: center;
        position: relative;
        margin-left: 10px;
       
       
     
    }
    .para1 {
       
        width: 300px;
        color: #E8E8E8;
        font-family: "josefin sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        letter-spacing: 1.6px;
        margin: 2rem;
    }



}

