* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "aleo", "josephin sans";
}

@import "./top";

.two{

    display: flex;
    align-items: center;
    justify-content: center;


    .lake {
        width: ;
        height: ;
    }

}